apiVersion: v1
kind: Pod
metadata:
  name: haproxy-{{ inventory_hostname }}
  namespace: kube-system
  labels:
    component: haproxy
    tier: control-plane
spec:
  hostNetwork: true
  restartPolicy: Always
  containers:
  - name: haproxy
    image: haproxy:2.8
    imagePullPolicy: IfNotPresent
    volumeMounts:
    - mountPath: /usr/local/etc/haproxy/haproxy.cfg
      name: haproxyconf
      readOnly: true
    resources:
      requests:
        cpu: 100m
        memory: 128Mi
      limits:
        cpu: 200m
        memory: 256Mi
  volumes:
  - name: haproxyconf
    hostPath:
      path: /etc/kubernetes/haproxy/haproxy.cfg
      type: File
